.container {
  max-width: 90%;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 1.8em;
  color: #181bd7;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 15px;
  font-size: 1em;
  color: #555;
  padding-right: 20px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.btnsubmit {
  padding: 10px;
  background-color: #22dac5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.btnsubmit:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 15px;
  text-align: center;
}

.success-dialog {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  margin-top: 20px;
}